html,
body,
#root {
  height: 100%;
  width: 100%;
}

.App {
  background-image: url("https://img.freepik.com/premium-photo/chalkboard-blackboard-dark-wallpaper-background_28629-1125.jpg");
  background-attachment: fixed;
  color: white;
}